 body {
      background-color: #040273;
      color: white;
    }

    p {
      text-align: center;
      font-family: sans-serif;
    }

    h2 {
      text-align: center;
      font-family: sans-serif;
    }
  Summery {
      text-align: center;
      font-family: sans-serif;
    }
 detail {
      text-align: center;
      font-family: sans-serif;
    }
 a:visited {
      color: orange;
  }

    @media screen and (prefers-color-scheme: light) {
      body {
        background-color: white;
        color: #1a1625;
      }
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
