/* #282828
   #040273
   #334BFF
   #000d6b
 */ 

/* default theme = dark */
:root {
    --theme: dark;
}

/* Base font & general body styles */
body {
    font-family: sans-serif;
    text-align: center;
}

/* dark mode */
body[data-theme="dark"] {
    background-color: #000d6b;
    color: white;
}

body[data-theme="dark"] button {
    color: orange;
    background-color: #000d6b;
    border: 2px solid orange;
}

/* light mode */
body[data-theme="light"] {
    background-color: white;
    color: #1a1625;
}

body[data-theme="light"] button {
    color: orange;
    background-color: white;
    border: 2px solid orange;
}

/* links */
body[data-theme="dark"] a:link { color: white; }
body[data-theme="dark"] a:visited { color: orange; }
body[data-theme="dark"] a:hover { color: green; }

body[data-theme="light"] a:link { color: black; }
body[data-theme="light"] a:visited { color: orange; }
body[data-theme="light"] a:hover { color: green; }

/* details border */
body[data-theme="dark"] details { border: 5px solid #f7f7f7; }
body[data-theme="light"] details { border: 5px solid #ccc; }

/* common styles */
p,h1,h2,h3,h4,h5,summary { text-align: center; }

ul { 
    text-align: center; 
    display: inline-block; 
}

/* common button styles for both themes */
button {
    margin: 4px 2px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* hover effect common to both themes */
button:hover {
    color: white;
    background-color: orange;
}

.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; 
}
