/* #282828 */ 
    body {
      background-color: #040273;
      color: white;
    }

    p,h2,h1,h3,h4,h5 {
      text-align: center;
      font-family: sans-serif;
    }
  Summery {
      text-align: center;
      font-family: sans-serif;
    }
 detail {
      text-align: center;
      font-family: sans-serif;
    }
 a:visited {
      color: orange;
  }
 button:hover {
      color: white;
      background-color: orange; /* Green */
      cursor: pointer;
  }
button{
      color: orange;
      transition-duration: 0.4s;
      background-color: white;
      border: 2px solid orange;
      margin: 4px 2px;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
    
}
   a:link {
    color: white;
  }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    @media screen and (prefers-color-scheme: light) {
      body {
        background-color: white;
        color: #1a1625;
      }
      a:link {
     color: black;
      }
    }
